<a href="https://colab.research.google.com/github/EBNyame/-maxcars/blob/master/ML_Tutor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
data = {
    "Name": ["Exo", "Joe", "Theo"],
    "Age": [22, 33, 44],
    "Score": [88, 99, 97]
}

df = pd.DataFrame(data)
print(df)

   Name  Age  Score
0   Exo   22     88
1   Joe   33     99
2  Theo   44     97

In [4]:
print(df.head())

   Name  Age  Score
0   Exo   22     88
1   Joe   33     99
2  Theo   44     97